<nav class="sidebar sidebar--has-scroll u-hide-on-mobile">
	<ul class="component-navigation__list">
		<li class="component-navigation__item">
			<h3 class="component-navigation__title">Conponent List</h3>
		</li>
		
		<li class="component-navigation__item">
			<a href="ftc-icons.html">ftc-icons</a>
		</li>
		
		<li class="component-navigation__item">
			<a href="ftc-share.html">ftc-share</a>
		</li>
		
		<li class="component-navigation__item">
			<a href="ftc-footer.html">ftc-footer</a>
		</li>
		
	</ul>	
</nav>

